<div class="navbar nav-bkg navbar-fixed-top" style="box-shadow:3px 3px 5px 3px #f2f2f2;">
    <div class="container">
        <div class="col-xs-12">
            <div class="col-xs-2" style="margin-top:5px;">
                
                <a href="~/Main/Index" style="text-decoration:none;"><img src="~/Content/Images/logo.png" height="50" />
                    <span id="logoheader" style="font-size:22px !important; color:#000; margin-top:10px;">Big Bang</span> 
                </a>
            </div>

            <div class="col-xs-8 seac">

                <input type="text" class="se font" placeholder="Search" id="CityName" />
                <a href="#" class="sbtn" id="search"><i class="fas fa-search fa-lg"></i></a>

            </div>

            <div class="col-xs-2">
                <div class="login-btn" id="add">


                    <div class="navbar-header" id="navbtn" style="margin-top:-15px;">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-hide"><a href="~/Home/index" class="font log">Login</a></li>
                            <li class="nav-hide"><a href="~/SignUp/index" class="font sign">Sign Up</a></li>
                        </ul>
                    </div>


                    <a href="~/Home/index" class="font nav-show log" id="log">Login</a>
                    <a href="~/SignUp/index" class="font sign nav-show" id="sign">Sign Up</a>

                    <div class="dropdown drop form-inline" id="sess">
                        <button class="dropbtn font form-inline">@Session["Username"] &nbsp;&nbsp; <i class="fas fa-sort-down"></i></button>
                        <div class="dropdown-content">
                            <a href="~/Profile/index" class="font">My Profile</a>
                            <a href="~/Dashboard/index" class="font">My Dashboard</a>
                            <a href="~/Dashboard/Logout" class="font">Logout</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>


<style>
    .nav-hide {
        display: none !important;
    }

    @@media screen and (max-width: 999px) {
        .nav-show {
            display: none;
        }

        .nav-hide {
            display: block !important;
        }
        #logoheader{
            display:none;
        }
    }

    .sign {
        margin-left: 10px;
        text-decoration: none;
    }

        .sign:hover {
            text-decoration: none;
        }

    .drop {
        margin-top: 5px;
    }

    .dropbtn {
        background-color: #2a65ea;
        color: white;
        padding: 10px 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3b5998;
    }

    ul.ui-autocomplete {
        position: absolute;
        top: 65px !important;
    }

    .sbtn:hover {
        color: white;
        background-color: #3b5998;
        text-decoration: none;
    }

    .sbtn {
        margin-top: -10px;
        padding: 16px 11px;
        background-color: #2a65ea;
        color: white;
    }

    .seac input {
        max-width: 80%;
    }

    .se {
        width: 100%;
        height: 45px;
        margin-top: 7px;
        font-size: 20px;
        border: 2px solid #002f34;
        padding-left: 10px;
    }

    .spce {
        margin-left: 2px;
    }

    .font {
        font-family: 'Raleway', sans-serif;
    }



    .aft-nav {
        margin-top: 20px;
        box-shadow: 3px 3px 5px 3px #f2f2f2;
        padding-bottom: 20px;
    }

        .aft-nav a {
            color: black;
            margin-left: 20px;
            font-size: 15px;
            text-overflow: ellipsis;
        }

    .nav-bkg {
        background-color: #f7f8f9;
    }

    .login-btn {
        margin-top: 19px;
        float: right;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    $(document).ready(function () {

        var value = '@Request.RequestContext.HttpContext.Session["Username"]';

        if (value != '')
        {
            $('#sess').show();
            $('.log').hide();
            $('.sign').hide();
            $('#navbtn').hide();
            $('#add').removeClass('login-btn').addClass('drop');
        }
        else
        {
            $('.log').show();
            $('.sign').show();
            $('#sess').hide();
            $('#navbtn').show();
            $('#add').removeClass('drop').addClass('login-btn');
        }

        debugger
        $("#search").click(function () {
            var Valid = false;

            var search = $('#CityName').val();

                if (search != null)
                {
                    Valid = true;
                }
            else
                {
                    Valid = false;
                }

                debugger


                if(Valid)
                {
                    $.ajax({
                        type: 'POST',
                        url: '/Search/search',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({ searchbar: search }),
                        success: function (data) {
                            if (data.status) {
                                window.location.href = (data.newurl);
                            }
                            else
                            {
                                window.location.href = (data.cURL);
                            }

                        }

                    })
                }
                debugger
            });





        debugger
        $("#CityName").autocomplete({
            source: function (request,response) {
                $.ajax({
                    url: "/Search/GetRecord",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {

                            return { label: item.C_Name, value: item.C_Name };
                        }))
                    }
                })
            },
        });
        debugger
    });
</script>
